@media (max-width: 1215px) {
  .services__cards {
    justify-content: space-around;
    padding: 0;
  }
  .providers__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .providers__descr {
    order: -1;
    margin-bottom: 50px;
  }
  .providers__img img {
    width: 100%;
  }
  .download__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .download__title {
    margin-bottom: 50px;
  }
  .download__descr {
    margin-bottom: 37px;
  }
  .download__link {
    margin-bottom: 40px;
  }
  .download__img-inner {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .header__about {
    flex-direction: column;
  }
  .header__descr {
    margin-bottom: 100px;
  }
  .articles__cards {
    justify-content: space-evenly;
  }
  .articles__card {
    margin-bottom: 30px;
  }
}
@media (max-width: 1050px) {
  .customers__slide-wrapper {
    flex-direction: column;
  }
  .customers__slide-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .customers__slide-text {
    max-width: 100%;
    text-align: center;
  }
  .customers__slide-descr {
    margin: 0;
    text-align: center;
  }
  .customers__inner {
    padding: 20px;
  }
  .slick-dots {
    bottom: -60px;
  }
  .customers__slider.slick-slider .slick-arrow {
    bottom: -63px;
  }
  .customers__slider.slick-slider .slick-arrow.slick-next {
    transform: translateX(64px);
  }
  .customers__slider.slick-slider .slick-arrow.slick-prev {
    transform: translateX(-83px);
  }
}
@media (max-width: 850px) {
  .footer__trafalgar {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 750px) {
  .nav__menu {
    color: #fff;
    text-align: center;
    position: absolute;
    flex-direction: column;
    background-color: #000;
    width: 280px;
    top: -355px;
    right: 0px;
    transition: 0.5s;
    padding: 40px 10px 10px;
  }
  .nav__menu::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url(../img/close__icon.svg);
    background-repeat: no-repeat;
  }
  .nav__menu-item {
    padding-bottom: 15px;
    border: none;
  }
  .nav__menu-item:hover {
    border: none;
  }
  .nav__menu-item + .nav__menu-item {
    margin-left: 0px;
  }
  .nav__menu-adaptive {
    top: 0px;
    right: 0;
  }
  .header__top {
    margin-top: 10px;
  }
  .header__top-burger {
    display: block;
    text-align: right;
  }
  .header__bg {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer__company, .footer__region, .footer__help {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
}