@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.woff") format("woff"), url("../fonts/Mulish-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
body {
  font-family: "Mulish";
  font-size: 18px;
}

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-bottom: 140px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 44px;
}
.header__top-burger {
  display: none;
}
.header__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__descr {
  max-width: 440px;
}
.header__descr-title {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.header__descr-text {
  margin-bottom: 45px;
  color: #7D7987;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
}
.header__descr-link {
  color: #fff;
  font-weight: 700;
  padding: 20px 40px;
  background-color: #458FF6;
  border-radius: 55px;
}

.nav {
  font-weight: 400;
  color: #7D7987;
}
.nav__menu {
  display: flex;
}
.nav__menu-item {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.nav__menu-item:hover {
  border-bottom: 2px solid #7D7987;
}
.nav__menu-item + .nav__menu-item {
  margin-left: 40px;
}

.services {
  background-image: url(../img/services__bg.svg);
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.services__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 61px;
  position: relative;
}
.services__title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: #000;
  bottom: -26px;
  right: 50%;
  transform: translateX(50%);
}
.services__text {
  text-align: center;
  line-height: 30px;
  max-width: 952px;
  margin: 0 auto;
  font-weight: 300;
  color: #7D7987;
  margin-bottom: 77px;
}
.services__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1220px;
  padding: 0 50px;
  margin: 0 auto 32px;
  position: relative;
}
.services__cards::after {
  content: "";
  width: 131px;
  height: 115px;
  background-image: url(../img/dotted-element.svg);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-90%);
  z-index: -1;
}
.services__card {
  background-color: #fff;
  max-width: 350px;
  padding: 47px 45px 46px 39px;
  border-radius: 20px;
  margin: 0 10px 37px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.services__card-img {
  height: 95px;
  position: relative;
  margin-bottom: 20px;
}
.services__card-img img {
  position: absolute;
  bottom: 0;
}
.services__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
}
.services__card-text {
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
  font-weight: 300;
  max-width: 261px;
}
.services__link-more {
  text-align: center;
  color: #458FF6;
  font-weight: 700;
}
.services__link-more a {
  border: 1.4px solid #458FF6;
  padding: 20px 50px;
  border-radius: 55px;
}