@media(max-width: 1215px)
  .services
    &__cards
      justify-content: space-around
      padding: 0
  .providers
    &__wrapper
      flex-direction: column
      align-items: center
    &__descr
      order: -1
      margin-bottom: 50px
    &__img
      img
        width: 100%

@media(max-width: 1200px)
  .header
    &__about
      flex-direction: column
    &__descr
      margin-bottom: 100px

@media(max-width: 750px)
  .nav
    &__menu
      color: #fff
      text-align: center
      position: absolute
      flex-direction: column
      background-color: #000
      width: 280px
      top: -355px
      right: 0px
      transition: .5s
      padding: 40px 10px 10px
      &::before
        content: ""
        width: 30px
        height: 30px
        position: absolute
        right: 5px
        top: 5px
        background-image: url(../img/close__icon.svg)
        background-repeat: no-repeat
      &-item
        padding-bottom: 15px
        border: none
        &:hover
          border: none
      &-item + .nav__menu-item
        margin-left: 0px
      &-adaptive
        top: 0px
        right: 0

  .header
    &__logo
      // flex-grow: 1
      // flex-basis: 0
    &__top
      margin-top: 10px
      &-burger
        display: block
        // flex-grow: 1
        // flex-basis: 0
        text-align: right
    &__bg
      width: 100%
