@font-face
  font-family: 'Mulish'
  src: url('../fonts/Mulish-Bold.woff')format('woff'), url('../fonts/Mulish-Bold.woff2') format('woff2')
  font-style: normal
  font-weight: 700
  font-display: swap

@font-face
  font-family: 'Mulish'
  src: url('../fonts/Mulish-Light.woff')format('woff'), url('../fonts/Mulish-Light.woff2') format('woff2')
  font-style: normal
  font-weight: 300
  font-display: swap

@font-face
  font-family: 'Mulish'
  src: url('../fonts/Mulish-Regular.woff')format('woff'), url('../fonts/Mulish-Regular.woff2') format('woff2')
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: 'Mulish'
  src: url('../fonts/Mulish-SemiBold.woff')format('woff'), url('../fonts/Mulish-SemiBold.woff2') format('woff2')
  font-style: normal
  font-weight: 500
  font-display: swap

$font-color: #7D7987
$link-color: #458FF6

body
  font-family: 'Mulish'
  font-size: 18px

.container
  max-width: 1420px
  padding: 0 10px
  margin: 0 auto

.header
  margin-bottom: 140px
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 46px
    margin-bottom: 44px
    &-burger
      display: none
  &__about
    display: flex
    justify-content: space-between
    align-items: center
  &__descr
    max-width: 440px
    &-title
      margin-bottom: 45px
      font-weight: 700
      font-size: 48px
      line-height: 56px
    &-text
      margin-bottom: 45px
      color: $font-color
      font-size: 21px
      line-height: 32px
      font-weight: 300
    &-link
      color: #fff
      font-weight: 700
      padding: 20px 40px
      background-color: #458FF6
      border-radius: 55px
.nav
  font-weight: 400
  color: $font-color
  &__menu
    display: flex
    &-item
      padding-bottom: 2px
      border-bottom: 2px solid transparent
      transition: all .3s
      &:hover
        border-bottom: 2px solid #7D7987
    &-item + .nav__menu-item
      margin-left: 40px
.services
  background-image: url(../img/services__bg.svg)
  background-repeat: no-repeat
  margin-bottom: 80px
  &__title
    text-align: center
    font-weight: 700
    font-size: 36px
    line-height: 56px
    margin-bottom: 61px
    position: relative
    &::after
      content: ""
      position: absolute
      width: 56px
      height: 2px
      background-color: #000
      bottom: -26px
      right: 50%
      transform: translateX(50%)
  &__text
    text-align: center
    line-height: 30px
    max-width: 952px
    margin: 0 auto
    font-weight: 300
    color: $font-color
    margin-bottom: 77px
  &__cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 1220px
    padding: 0 50px
    margin: 0 auto 32px
    position: relative
    &::after
      content: ""
      width: 131px
      height: 115px
      background-image: url(../img/dotted-element.svg)
      position: absolute
      right: 0px
      top: 50%
      transform: translateY(-90%)
      z-index: -1

  &__card
    background-color: #fff
    max-width: 350px
    padding: 47px 45px 46px 39px
    border-radius: 20px
    margin: 0 10px 37px
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4)
    &-img
      height: 95px
      position: relative
      margin-bottom: 20px
      & img
        position: absolute
        bottom: 0
    &-title
      font-weight: 700
      font-size: 24px
      line-height: 56px
    &-text
      font-size: 16px
      line-height: 28px
      color: $font-color
      font-weight: 300
      max-width: 261px
  &__link-more
    text-align: center
    color: $link-color
    font-weight: 700
    & a
      display: inline-block
      border: 1.4px solid $link-color
      padding: 20px 50px
      border-radius: 55px
.providers
  &__wrapper
    display: flex
    justify-content: space-between
  &__descr
    max-width: 486px
  &__title
    font-size: 36px
    line-height: 56px
    margin-bottom: 60px
    margin-top: 57px
    position: relative
    &::before
      content: ""
      position: absolute
      height: 2px
      width: 56px
      background-color: #000
      bottom: -26px
  &__text
    color: $font-color
    font-weight: 300
    line-height: 30px
    margin-bottom: 37px
  &__link
    padding: 20px 50px
    border: 1.4px solid $link-color
    border-radius: 55px
    font-weight: 700
    color: $link-color
